// Specific CSS for your home-page
body {
  background-color: white;
}

.home-kitchen {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: $pink;
}

.home-title {
  font-size: 1.5rem;
}

.home-description {
  color: black;
  font-weight: 300;
  font-size: 0.9rem;
}

.carousel-home {
  padding-right: 3rem;
  padding-left: 3rem;
  position: absolute;
  z-index: 0;
}

.likes-block {
  display: none;
  height: 30px;
  width: 100px;
  background-color: $pink;
  position: relative;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  z-index: 1;
  line-height: 30px;
}

.likes-block p {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center;
  margin-bottom: 0;
  color: white;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .thumbnail-hp {
    object-fit: cover;
  }
  .caption-recetas {
    display: block !important;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .thumbnail-hp {
    object-fit: cover;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .thumbnail-hp {
    object-fit: cover;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

