.layout-profile {
  transform: translateY(-100px);
  padding: 100px 100px 0;
  margin-bottom: -100px;
  z-index: 8;
  position: relative;
  background-image: url(https://res.cloudinary.com/ddlesqeup/image/upload/v1578510181/box-shadow_dgrsy0.png);
  background-size: contain;
  background-repeat: no-repeat;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 96%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    background-color: #ffffff;
  }
}

.profile-infos {
  height: 200px;
  width: 90%;
  background-color: $light-gray;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .author-infos {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    .unknown-user {
      position: relative;
    }
    .add-photo {
      position: absolute;
    }
    .unknown-user, .photo-user {
      border-radius: 50%;
    }
    .names {
      padding: 1rem;
    }
    .names h2 {
      font-size: 1.7rem;
    }
  }
}

.profile-recipes, .profile-likes {
  width: 90%;
  margin: 0 auto;
}

.recettes-bubble, .likes-bubble {
  display: flex;
  justify-content: left;
  padding: 1rem;
}

.recettes-bubble p, .likes-bubble p {
  margin-bottom: 0;
  line-height: 50px;
}

.right-infos {
  flex-grow: 1;
  margin-left: 7rem;
}

.bubble {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #FA4952;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 800;
}
.word {
  margin-left: 1rem;
}

.list-recipes-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
