<div class="container">
  <p class="mt-3">Recherchez une recette :</p>
  <div class="search-box">
    <%= simple_form_for :search, url: recipes_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Tapez une recette ou un ingrédient..." />
      <button name="button" type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
    <% end %>
  </div>
  <div class="list-recipes">
    <p class="mt-3">Ou parcourez la liste des recettes :</p>
    <ul>
      <% @recipes.each do |recipe| %>
        <li> <%= link_to recipe.title, recipe_path(recipe) %></li>
      <% end %>
    </ul>
    <%= link_to "Ajouter une recette", new_recipe_path, class: "btn btn-primary" %>
  </div>
</div>
