<div class="banner mt-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/E6HjQaB7UEA);">
</div>
<div class="container mt-4">
  <p class="mt-3">Recherchez une recette :</p>
  <div class="search-box">
    <%= simple_form_for :search, url: recipes_path, method: "GET", html: { class: 'form-inline' } do |f| %>
    <div class="search-form-control form-group">
      <input class="form-control string required index-search" type="text" name="search[query]" id="search_query" placeholder="Recherchez une recette..." />
      <button name="button" type="submit" class="btn btn-primary btn-search">
        <i class="fas fa-search"></i> Rechercher
      </button>
    </div>
    <% end %>
  </div>
  <div class="index-recipes">
    <p class="mt-3">Ou parcourez la liste des recettes :</p>
    <%= render 'shared/cards' %>
  </div>
</div>
