<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://res.cloudinary.com/ddlesqeup/image/upload/v1581009882/undraw_diet_ghvw_ofz9ce.png" alt="Card image cap">
    <div class="card-body">
      <div class="flag-1">
        <span>1</span>
      </div>
      <h5 class="card-title">Naviguez parmi les recettes</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Powered with 💗 from Mathilde</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://res.cloudinary.com/ddlesqeup/image/upload/v1574110334/step2.svg" alt="Card image cap">
    <div class="card-body">
      <div class="flag-2">
        <span>2</span>
      </div>
      <h5 class="card-title">Select the set of your dreams</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Powered with 💗 from Mathilde</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://res.cloudinary.com/ddlesqeup/image/upload/v1574110334/step3.svg" alt="Card image cap">
    <div class="card-body">
      <div class="flag-3">
        <span>3</span>
      </div>
      <h5 class="card-title">Book it quickly and safely</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Powered with 💗 from Mathilde</small>
    </div>
  </div>
</div>
