.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-left: 0;
  padding-right: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
}

.navbar-brand {
  display: flex;
  .fas {
    color: $pink;
  }
}

.navbar-brand h1 {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-bottom: 0;
  line-height: 2.5rem;
}

.nav-item {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

@media (min-width: 100px) and (max-width: 575px) {
  .navbar-brand h1 {
    font-size: 1.3rem;
  }
}
