.index-search {
  width: 76vw;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 575px) {
  .index-search {
    width: 50vw;
  }
  .search-form-control {
    display: inline-flex;
  }
  .list-recipes {
    grid-template-columns: 1fr !important;
  }
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 70vw;
  }
  .list-recipes {
    grid-template-columns: 1fr 1fr !important;
  }
}

// Large devices (min 1280px)
@media (min-width: 1280px) {
  .card-img-top {
    object-fit: cover;
  }
  .form-inline .form-control {
    width: 50vw;
  }
}
