.layout-single {
  transform: translateY(-100px);
  padding: 50px 100px 0;
  margin-bottom: -100px;
  z-index: 8;
  position: relative;
  background-image: url(https://res.cloudinary.com/ddlesqeup/image/upload/v1578510181/box-shadow_dgrsy0.png);
  background-size: contain;
  background-repeat: no-repeat;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 96%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    background-color: #ffffff;
  }
}

.top-single {
  text-align: center;
    .single-kitchen {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: $pink;
  }
  .single-title {
    font-size: 1.5rem;
  }
}

.facts-single {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  .left-side {
    display: inline-flex;
  }
  .time, .author, .likes {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .author > p {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 1rem;
    color: black;
  }
  .time > p {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 1rem;
    color: black;
  }
  .likes > p {
    font-size: 0.8rem;
    margin-bottom: 0;
    margin-left: 0.5rem;
    margin-right: 1rem;
    color: black;
  }
  .far {
    color: $pink;
  }
}

.description {
  margin-top: 2.5rem;
  text-align: center;
}

.characteristics-single {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 2rem;
  .total_time-single, .difficulty-single, .season-single, .cost-single {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-gray;
    padding: 0.5rem;
    text-transform: capitalize;
  }
  .far, .fas {
  color: $middle-gray;
  }
}

.characteristics-single h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

.lines {
  margin-left: 2rem;
  line-height: 1.5rem;
  padding: 0.5rem;
  p {
  font-size: 0.9rem;
  margin-bottom: 0;
  color: $middle-gray;
  font-weight: 800;
  }
}

.middle-single {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
  text-align: center;
  .ingredients, .utensils {
    padding: 2rem;
  }
  .ingredients {
    background-color: $lighter-gray;
  }
  .utensils {
    background-color: $light-pink;
  }
  .top-ingredients, .top-utensils {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-ingredients h3 {
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  .top-utensils h3 {
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-bottom: 0;
  }
}

.bottom-admin {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .photo-show {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 200px;
  }
  .layout-single {
    padding: 25px 25px 0;
    transform: translateY(0);
    margin-bottom: 0;
    background-image: none;
  }
  .facts-single {
    flex-direction: column-reverse;
    .right-side {
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  .characteristics-single {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  .middle-single {
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
  }
  .step1, .step2, .step3, .step4, .step5, .step6, .step7, .step8, .step9, .step10 {
    flex-direction: column;
    margin-left: 0 !important;
    margin-right : 0 !important;
  }
  .content-item {
    margin-left: 0 !important;
  }
  .serial-number {
    margin-bottom: 2rem;
  }
  .bottom-admin {
    flex-direction: column;
  }
  .delete-recipe, .edit-recipe {
    width: 100%;
    margin: 1rem auto;
    text-align: center;
  }
  .characteristics-single > .total_time-single, .characteristics-single > .difficulty-single, .characteristics-single > .season-single, .characteristics-single > .cost-single  {
    justify-content: left;
    padding-left: 3rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 100px) and (max-width: 575px) {
  .characteristics-single {
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
  }
}

