.form-devise {
  background-color: $light-pink;
  padding: 1.5rem;
}

.form-devise h2 {
  font-size: 1.5rem;
  text-align: center;
}

.form-actions > .btn {
  width: 100%;
}

.lien-connexion {
  text-align: center;
}
